.container {
	margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #000;
}
.container form {
	text-align: left;
	display: inline-block;
}

div input {
    border-color: blue;
}

.must {
    background-color: rgb(234, 17, 35);
    border-radius: 4px;
    font-size: 14px;
    padding: 2px;
    margin-left: 5px;
    color: aliceblue;
}

.any {
    background-color: rgba(73, 237, 64, 0.892);
    border-radius: 4px;
    font-size: 14px;
    padding: 2px;
    margin-left: 5px;
    color: rgba(240, 248, 255, 0.848);
}

label {
    font-weight: bold;
}

input {
    border-color: blue;

}
.form {
    padding: 10px;
    margin-bottom: 10px;
}

input:invalid + span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;
  }
  
  input:valid + span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
  }

.error {
    color: red;
}

a:btn {
    background-color: rgb(17, 165, 233);
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}